@charset "UTF-8";
/*$font-family: 'Source Sans Pro',sans-serif;*/
/*$font-family-josefin: 'Josefin Sans',sans-serif; */
@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("../fonts/SourceSansPro-Semibold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../fonts/SourceSansPro-Light.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro LightItalic";
  src: url("../fonts/SourceSansPro-LightItalic.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Josefin Sans Bold";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

body {
  width: 1600px;
  margin: 0 auto;
  background-color: #fbfbfb; }

.clearfix:after {
  display: table;
  clear: both;
  content: ''; }

.layout {
  width: 1180px;
  margin: 0 210px; }

/* иконки */
.icon-user:before {
  background: url(../img/icon-user.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 22px;
  background-size: 20px 22px;
  content: '';
  margin-right: 11px; }

.icon-phone:before {
  background: url(../img/icon-phone.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  content: '';
  margin-right: 11px; }

.icon-search:before {
  position: absolute;
  content: '';
  background: url(../img/icon-search.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 18px;
  background-size: 19px 18px;
  content: '';
  top: 13px;
  right: 13px; }

.icon-heart:before {
  background: url(../img/icon-heart.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 20px;
  background-size: 22px 20px;
  content: '';
  position: absolute;
  content: '';
  left: 51px;
  top: 17px; }

.icon-cart:before {
  background: url(../img/icon-cart.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 23px;
  background-size: 18px 23px;
  content: '';
  position: absolute;
  content: '';
  left: 22px;
  top: 15px; }

.icon-close:before {
  background: url(../img/icon-cross.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 11px;
  background-size: 10px 11px;
  content: ''; }

.icon-plus:before {
  background: url(../img/icon-plus.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 13px;
  height: 13px;
  background-size: 13px 13px;
  content: '';
  position: absolute;
  content: '';
  left: 48px;
  top: 11px; }

.icon-checkout:before {
  background: url(../img/icon-checkout.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  background-size: 21px 21px;
  content: '';
  position: absolute;
  content: '';
  left: 27px;
  top: 6px; }

.icon-arrowdown:before {
  background: url(../img/icon-arrowdown.png) 0 42px no-repeat;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 11px;
  background-size: 18px 11px;
  content: '';
  content: '';
  padding: 18.5px 0;
  height: 42px;
  margin-left: 15px; }

/*  ----  */
.header {
  background-color: #fbfbfb;
  font: 400 12px / 13px "Source Sans Pro Regular", sans-serif;
  color: #595959;
  padding-bottom: 20px; }

.top {
  padding: 22px 0; }
  .top ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .top li {
    display: inline-block; }
  .top li:first-of-type a {
    font-weight: 700; }
  .top a {
    font: 400 12px / 13px "Source Sans Pro Regular", sans-serif;
    color: #595959;
    text-decoration: none; }
  .top__left {
    float: left; }
  .top__right {
    float: right; }

.logo {
  position: absolute;
  width: 179px;
  height: 42px;
  background-color: #383739;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  border-radius: 50%;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 66.5px 0; }
  .logo__header {
    font: 700 23.32px / 29.15px "Josefin Sans Bold";
    margin: 0; }
  .logo__content {
    font: 700 8.15px/11.66px "Josefin Sans Bold";
    margin: 0;
    text-transform: uppercase; }
  .logo__line {
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #ffffff; }
  .logo__line:first-of-type {
    top: 40px;
    left: 50px;
    transform: rotate(-45deg); }
  .logo__line:nth-of-type(2) {
    top: 40px;
    left: 124px;
    transform: rotate(45deg); }
  .logo__line:nth-of-type(3) {
    top: 108px;
    left: 50px;
    transform: rotate(45deg); }
  .logo__line:last-of-type {
    top: 108px;
    left: 124px;
    transform: rotate(-45deg); }

.menu {
  border: 1px solid transparent;
  letter-spacing: 0.1em;
  font: 400 13px / 24px "Source Sans Pro Regular", sans-serif;
  color: #595959; }
  .menu span {
    padding: 2.5px 3px; }
  .menu__left {
    float: left;
    padding-top: 30px; }
  .menu__right {
    float: right;
    padding-top: 25px; }
  .menu__register {
    background: #e1bc62;
    color: #ffffff;
    font-weight: 700; }
  .menu__phone {
    font: 400 18px / 18px "Source Sans Pro Regular", sans-serif;
    color: #595959; }
  .menu__search {
    position: relative; }
  .menu__search input[type="text"] {
    padding: 14.5px 17px;
    width: 258px;
    border: 1px solid #dfdfdf;
    font-weight: 600; }

.cart {
  text-transform: uppercase;
  width: 420px;
  line-height: 22px; }
  .cart a {
    color: #595959; }
  .cart__wishlist {
    padding-top: 14.32px;
    padding-bottom: 7.68px;
    padding-left: 79px;
    padding-right: 24px;
    width: 77px;
    float: left;
    position: relative;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf; }
  .cart__shopping {
    width: 172px;
    padding-top: 14.32px;
    padding-bottom: 7.68px;
    padding-left: 45px;
    padding-right: 21px;
    float: right;
    position: relative;
    border-top: 1px solid #dfdfdf; }
  .cart__summa {
    color: #cd222a;
    font-weight: 700; }
  .cart__special {
    width: 16px;
    height: 12px;
    padding: 3px 0;
    padding-left: 2px;
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    top: 11px;
    left: 12px;
    background-color: #cd222a;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    line-height: 11.5px; }
  .cart__items {
    border-right: 1px solid #dfdfdf; }
  .cart__items:nth-of-type(2) {
    border-bottom: 1px solid #dfdfdf; }
  .cart__left {
    float: left;
    padding-right: 18px;
    border-left: 1px solid #dfdfdf;
    width: 190px; }
  .cart__right {
    float: left;
    width: 190px; }
  .cart__close {
    float: right;
    width: 11px;
    height: 11px;
    margin: 33px 0; }
  .cart__items:last-of-type {
    color: #ffffff;
    text-transform: uppercase;
    font: 700 14px / 24px "Source Sans Pro Bold", sans-serif;
    letter-spacing: 0.05em; }
  .cart .cart__show-all {
    float: left;
    background-color: #383739;
    padding: 6.5px 0;
    padding-left: 69px;
    width: 167px;
    position: relative; }
  .cart .cart__check-out {
    float: right;
    background-color: #e1bc62;
    padding: 6.5px 0;
    padding-left: 56px;
    width: 127px;
    position: relative; }

.cart-single__size {
  float: left; }

.cart-single__column {
  float: left;
  padding: 20.5px 0;
  padding-right: 15px;
  font: 700 12px / 18px "Source Sans Pro Bold", sans-serif;
  position: relative; }

.cart-single__size img {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 14px; }

.categories {
  margin: 0 auto;
  border-bottom: 5px solid #e1bc62; }
  .categories ul {
    margin: 0;
    padding: 0;
    text-align: center; }
  .categories li {
    display: inline-block;
    vertical-align: top;
    font: 600 15px / 18px "Source Sans Semibold", sans-serif;
    color: #444444;
    margin-right: 50px;
    padding: 16.5px 0; }
  .categories li:last-of-type {
    margin-right: 0; }

.blocks__column1 {
  position: relative;
  float: left; }

.blocks__column1 img {
  width: 287px;
  height: 680px;
  -webkit-filter: contrast(40%) brightness(140%);
  filter: contrast(40%) brightness(140%); }

.blocks__column2 {
  float: right; }

.blocks__column21 {
  margin-bottom: 21px; }

.blocks__column211 {
  float: left;
  margin-right: 20px; }

.blocks__column221 {
  float: left;
  margin-right: 20px; }

.blocks__column212, .blocks__column222 {
  float: right; }

.blocks__column212 {
  position: relative; }

.blocks__column212 img {
  -webkit-filter: contrast(40%) brightness(140%);
  filter: contrast(40%) brightness(140%); }

.block-col1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 386px; }
  .block-col1__header {
    font: 700 30px / 30px "Source Sans Pro Bold", sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 0; }
  .block-col1__content {
    font: 300 18px / 18px "Source Sans Light", sans-serif;
    color: #000000;
    letter-spacing: 0.6em;
    text-align: center;
    margin: 0;
    margin-bottom: 19px; }

.block-col2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 110px;
  text-transform: uppercase; }
  .block-col2__header {
    font: 700 48px / 36px "Source Sans Pro Bold", sans-serif;
    color: #000000;
    text-align: center;
    margin: 0;
    margin-bottom: 17px; }
  .block-col2__content {
    font: 300 19px / 24px "Source Sans Light", sans-serif;
    color: #000000;
    letter-spacing: 0.9em;
    text-align: center;
    margin: 0; }

.btn {
  display: block;
  text-decoration: none;
  font: 700 14px / 24px "Source Sans Pro Bold", sans-serif;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 10.5px 0;
  width: 180px;
  background-color: #e1bc62;
  margin: 0 auto; }

.products__header {
  margin: 38.5px auto;
  text-align: center; }

.products__content {
  font-size: 0; }

.products a {
  text-decoration: none;
  margin-bottom: 31px; }

.products h2 {
  font: 400 48px / 12px "Source Sans Pro Regular", sans-serif;
  color: #1a1a1a;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block; }

.products__header--active {
  font-weight: 700 !important; }

.products__text {
  font: 300 14px / 12px "Source Sans LightItalic", sans-serif;
  font-style: italic;
  color: #595959; }

.products__separate {
  height: 35px;
  width: 2px;
  margin: 28px 30px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  background-color: #e1e1e1; }

.product {
  display: inline-block;
  position: relative;
  padding-bottom: 45px;
  margin-right: 13.3px; }
  .product:nth-of-type(4n) {
    margin-right: 0; }
  .product__photo {
    width: 285px;
    height: 300px;
    margin-bottom: 5px; }
  .product__placeholder {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: 0;
    left: 0; }
  .product__name {
    font: 600 18px / 24px "Source Sans Semibold", sans-serif;
    color: #595959;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto; }
  .product__divider {
    width: 45px;
    height: 2px;
    background-color: #cdcdcd;
    margin: 0 auto;
    margin-bottom: 39px; }
  .product__price {
    font: 100 18px / 24px "Source Sans Light", sans-serif;
    color: #595959;
    text-transform: uppercase;
    text-align: center; }
  .product__price-old {
    text-decoration: line-through;
    font: 100 14px / 24px "Source Sans Light", sans-serif; }

/*# sourceMappingURL=style.css.map */