<!DOCTYPE html>
html
    head
        title Flat shoes
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css")
    body
        
        div.top.clearfix
            div.layout
            
                div.top__left 
                    ul
                        li 
                            a(href="#") ENG
                        li 
                            a(href="#") IND
                div.top__right
                    ul
                        li 
                            a(href="#") USD
                        li 
                            a(href="#") IDR
        header.header.clearfix
            div.layout
                div.header__content
                    div.logo
                    nav.menu
                        div.menu__left 
                            p.menu__content  <i class="icon-user"></i> HELLO, YOU CAN <b>LOGIN</b> OR 
                                span.menu__register REGISTER
                            p.menu__content <i class="icon-phone"></i> Customer Service : 
                                span.menu__phone +88 888 888 888
                            div.menu__search
                                i.icon-search
                                input(type="text" placeholder="SEARCH")                                
                        div.menu__right  
                            div.cart                    
                                div.cart__items.clearfix
                                    div.cart__wishlist <i class="icon-heart"></i> wishlist
                                    div.cart__shopping <i class="icon-cart"></i> shopping cart:
                                        span.cart__summa $345.00
                                div.cart__items.clearfix
                                    div.cart__left
                                    div.cart__right
                                div.cart__items.clearfix
                                    div.cart__show-all
                                    div.cart__check-out
                                
                    div.header__categories                
                        
        main
        footer
        