$width-body: 1600px;
$width-layout: 1180px;

/*$font-family: 'Source Sans Pro',sans-serif;*/

$font-family-SourceSansProRegular: 'Source Sans Pro Regular',sans-serif;
$font-family-SourceSansProBold: 'Source Sans Pro Bold',sans-serif;
$font-family-SourceSansProSemibold: 'Source Sans Semibold',sans-serif;
$font-family-SourceSansProLight: 'Source Sans Light',sans-serif;
$font-family-SourceSansProLightItalic: 'Source Sans LightItalic',sans-serif;

/*$font-family-josefin: 'Josefin Sans',sans-serif; */

$font-family-JosefinBold:'Josefin Sans Bold';


$color-white: #ffffff;
$color-black: #000000;

$font-size: 12px;
$line-height: 13px;

$font-size-h1:23.32px;
$line-height-h1:29.15px;

$font-size-h2:48px;
$line-height-h2:36px;

$font-size-h3:30px;
$line-height-h3:30px;



$color-gray: #595959;
$color-gray1: #cccccc;
$color-gray-light: #fbfbfb;
$color-gray-lighter: #dfdfdf;
$color-gray-dark: #383739;
$color-yellow: #e1bc62;
$color-red: #cd222a;
$color-black: #444444; 
$color-black-dark2: #1a1a1a;
$color-black-dark: #000000; 
    
    