$width-body: 1600px;
$width-layout: 1180px;

$font-family: 'Source Sans Pro',sans-serif;


$color-white: #ffffff;
$color-black: #000000;

$font-size: 12px;
$line-height: 13px;


$color-gray: #595959;
$color-gray-light: #fbfbfb;
$color-gray-lighter: #dfdfdf;
$color-yellow: #e1bc62;
$color-red: #cd222a;
    
    